 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">

<h1 align="center"> c'est l'interface etudiant </h1>

<a th:href="@{ajout}" class="btn btn-outline-info">Ajouter un etudiant</a>


<table border="2" align="center" class="table">
<tr class="p-3 mb-2 bg-primary text-white">
<td>identifiant</td>
<td>nom</td>
<td>prénom</td>
<td>adresse </td>
<td>Email</td>
<td>modifier</td>
<td>supprimer</td>
</tr>
<tr th:each="c : ${Etudiantss2}">
<td th:text="${c.id}"></td>
<td th:text="${c.nom}"></td>
<td th:text="${c.prenom}"></td>
<td th:text="${c.adresse}"></td>
<td th:text="${c.email}"></td>
<td><a class="btn btn-warning" th:href="@{/etudiant/modifier/{id}(id=${c.id})}">modifier</a></td>
<td><a class="btn btn-danger" th:href="@{/etudiant/delete/{id}(id=${c.id})}">supprimer</a></td>
</tr>
</table>